Repository dimitryzub/serpapi-blog-posts-archive, pull requests merged in 2022-07, with the labels that each got.

#243 Google Scholar author
  Google/google_scholar/author_profile_results/javascript/author_results/google-scholar-author-results-scrape.md
  Google/google_scholar/author_profile_results/javascript/author_results/index.js
  Google/google_scholar/author_profile_results/javascript/author_results/withPuppeteer.js
  Google/google_scholar/author_profile_results/javascript/author_results/withSerpApi.js
Labels: Completed, Google Scholar, not-invoiced

#244 Google Scholar Cite
  Google/google_scholar/organic_cite_results/javascript/cite_results/google-scholar-cite-results-scrape.md
  Google/google_scholar/organic_cite_results/javascript/cite_results/index.js
  Google/google_scholar/organic_cite_results/javascript/cite_results/withPuppeteer.js
  Google/google_scholar/organic_cite_results/javascript/cite_results/withSerpApi.js
Labels: Completed, Google Scholar, not-invoiced

#245 Update old Google News Blog Post
  Google/google_news/google_organic_news/google-organic-news.py
  Google/google_news/google_organic_news/google_organic_news.md
Labels: Google, need-update

#246 Google Maps Places
  Google/google_maps/google-maps-local-results/javascript/google-maps-local-results.md
  Google/google_maps/google-maps-local-results/javascript/index.js
  Google/google_maps/google-maps-local-results/javascript/withPuppeteer.js
  Google/google_maps/google-maps-local-results/javascript/withSerpApi.js
Labels: Completed, Google Maps, not-invoiced

#248 Google Images blog post update
  .gitpod.yml
  Google/google_images/google-images.py
  Google/google_images/google_images.md
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: Published, Google

#252 Blog update Google News Pagination
  .gitpod.yml
  Google/google_news/google_organic_news/google-organic-news.py
  Google/google_news/google_organic_news/google_organic_news.md
Labels: 🧗‍♀️ In progress, 🔍Google, ♻blog update
