Repository dimitryzub/serpapi-blog-posts-archive, pull requests merged in 2022-05, with the labels that each got.

#11 google-news-tab
  .gitignore
  Google/google_news/google_news_tab/javascript/google_news_scrape.md
  Google/google_news/google_news_tab/javascript/index.js
  Google/google_news/google_news_tab/javascript/package.json
  Google/google_news/google_news_tab/javascript/withCheerio.js
  Google/google_news/google_news_tab/javascript/withSerpApi.js
Labels: Completed, Google

#16 Researchgate authors researchers #3
  .github/ISSUE_TEMPLATE/octo-reminder.yml
  ResearchGate/python/authors-researchers/researchgate-scrape-authors-researchers.md
  ResearchGate/python/authors-researchers/researchgate-scrape-authors-researchers.py
Labels: Completed, ResearchGate

#18 Researchgate publications search #4
  .gitpod.yml
  ResearchGate/python/publications-search/researchgate-search-publications.md
  ResearchGate/python/publications-search/researchgate-search-publications.py
Labels: Completed, ResearchGate

#22 Researchgate individual publication
  .gitpod.yml
  ResearchGate/python/individual-publication/researchgate-scrape-individual-publication.md
  ResearchGate/python/individual-publication/researchgate-scrape-individual-publication.py
  pyproject.toml
Labels: In progress, ResearchGate

#15 Google knowledge graph
  .gitignore
  Google/google_organic_results/google_knowledge_graph/javascript/google_knowledge_graph.md
  Google/google_organic_results/google_knowledge_graph/javascript/index.js
  Google/google_organic_results/google_knowledge_graph/javascript/withCheerio.js
  Google/google_organic_results/google_knowledge_graph/javascript/withSerpApi.js
Labels: Completed, Google
